* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


.Homepage{
  margin-top: 200px;
}

#login-header{
  font-size: 50px;
}

.signup-btn{
  padding: 10px 20px;
  cursor: pointer; 
  border: 1px solid white;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.signup-btn:hover {
 background-color: aqua;
}

.homepage-btn{
padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 200px;
    border: 1px solid white;
}

.homepage-btn:hover {
  background-color: aqua;
}

.form{
  background-color: rgb(238, 123, 123);
  padding: 20px;
  margin: auto;
  width: 20%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 10px 30px 10px black;
  height: 200px;
  outline: none;
}

.form-container{
  display: flex;
  flex-direction: column;
}

input{
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
}

.login-btn{
  padding:  5px 20px;
  margin-bottom: 0;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
    background-color: aqua;
}

.result{
  margin-top: 10px;
}

.signup-form{
  margin-right: 250px;
}